@import './variables';
@import './reset';



body{
    background:url('img/bg_mobile_tablet.jpg') no-repeat center center/ cover;
    // background: $clr-greenish;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}


.container{
    width: 90%;
    // height: 25rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    place-items: center;

    > .header_of_content{
        text-align: center;
        background-color: $clr-dark-blue;
        border-radius: 0.5rem;
        display: grid;
        place-items: center;
        

        > h2{
            font-family: $fs-rale;
            font-weight: $fw-bold;
            text-transform: capitalize;
            font-size:clamp(2rem , 2.3vw, 2.5rem);
            line-height: 2rem;
            padding: 1.5rem 2rem;
            color: $clr-greyish;
            opacity: 0.7;
        
        }
    }

    > .main-content{
        display: flex;
        flex-direction:column;
        row-gap: 1.5rem;
        padding: 2rem 1.5rem;
        background-color: $clr-greyish;
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
        
        > .text-area-content{
            
            > p.actual-text{
                font-family: $fs-poppins;
                font-size: clamp(1.1rem , 1.2vw, 1.3rem);
                color: $clr-dark-blue;
                line-height: 1.4rem;
                font-weight: $fw-lght;
                text-align: center;  
            }
        }

        > p.author-of-quote{
            text-align: center;
            text-transform: uppercase;
            font-family: $fs-rale;
            font-size: clamp(1.4rem , 1.5vw, 1.7rem);
            color: $clr-dark-blue;
            line-height: 1.5rem;
            font-weight: $fw-bold;
            letter-spacing: 0.09rem;
        }

        > .button-area{
            display: grid;
            place-items: center;

            > #new-quote{
                padding: 0.7rem 3rem;
                border: none;
                font-family: $fs-poppins;
                font-size: clamp(0.95rem , 0.95vw , 1rem);
                border-radius: 2rem;
                background-color: $clr-greenish;
                color: $clr-dark-blue;
                text-transform: uppercase;
                font-weight: $fw-bold;
                letter-spacing: 0.1rem;

                &:hover , :active{
                    background-color: $clr-dark-blue;
                    color: white;
                    transition: all 0.5s;
                    box-shadow: 0px 10px 25px $clr-dark-blue;
                }
                

            }
        }
    }


}







@media (min-width:768px) {
    body{
        background: url('img/bg_desktop.jpg') no-repeat center center/ cover;
    }
}

@media (min-width:1439px) {
    body{
        background: url('img/bg_desktop.jpg') no-repeat center center/ cover;
    }
}

@media (max-height:350px) {
    body{
        //background: url('img/bg_desktop.jpg') no-repeat center center/ cover;
        padding:2rem 1.5rem;
    }
    .container{
        display: grid;
        row-gap: 0.5rem;

        .header_of_content{

            > h2{
                padding: 1rem 2rem;
            }
        }
        > .main-content{
            padding: 1.5rem 1.5rem;
            row-gap: 1.2rem;
        }
    }
}